<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="demoRestAssured.abc"/>
      <class name="demoRestAssured.runner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
